.playlist::-webkit-scrollbar {
width: 0; 
}

.playlist::-webkit-scrollbar-thumb {
background-color: transparent; 
}

.completed-video {
    box-shadow: 0 0 6px 2px greenyellow inset;
}
.playlist-video-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 5px 0px;
    border-bottom: 3px solid #3a3a3a;   
}

.video-details {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 0 2px;
    font-size: 0.9rem;
    color: #7b7c7d;
    align-items: center;
}

.playlist-video {
    width: 95%;
    margin: auto;
    object-fit: contain;
}

.video-duration {
    margin: auto;
    font-weight: bold;
    color: #3a3a3a;
}

.playlist{
    display: flex;
    flex-direction: column;
    width: 22%;
    max-height: 100%;
    border: 2px solid black;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    height: fit-content;
    min-height: fit-content;
    
}